<div>

  <h4 class="mb-3">Ajouter une langue</h4>

<form action="">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label >Choisir une lanue</label>
        <select name="status" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Status">
          <option value="not started">Not Started</option>
          <option value="started">Started</option>
          <option value="fixed">Fixed</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Niveau parlé</label>
        <select  name="status" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Status">
          <option value="not started">Not Started</option>
          <option value="started">Started</option>
          <option value="fixed">Fixed</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Niveau ecrit</label>
        <select id name="status" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Status">
          <option value="not started">Not Started</option>
          <option value="started">Started</option>
          <option value="fixed">Fixed</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Niveau comphrension</label>
        <select  name="status" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Status">
          <option value="not started">Not Started</option>
          <option value="started">Started</option>
          <option value="fixed">Fixed</option>
        </select>
      </div>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-raised btn-raised bg-blue text-white">
      Enregistrer
    </button>
  </div>
</form>
</div>
